<ion-card class="card">

<ion-img  [@fadeInOut] [src]="urlImage"></ion-img>
  <ion-card-content>
    <ion-list [@listAnimation]="heroFeatures.length">
        @for (feature of heroFeatures; track $index) {
            <ion-item>
                <ion-label class="card__label" color="dark"> {{ feature.featureLabel| translate }} </ion-label>
                <ion-badge class="card__badge" slot="end">{{ feature.featureNumber }}</ion-badge>
            </ion-item>
        }
    </ion-list>

  </ion-card-content>
</ion-card>
