@use '../../../../styles/index.scss' as *;
.card{
    &__img{
        height: 350px;
        width: 100%;

    }
    &__label{
        font-size: fs(fs-14);
        font-weight: 500;
    }
    &__badge{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        border-radius: 100%;
    }
}